body {
  background-color: #FFFFFF;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.ui.card>.image>img, .ui.cards>.card>.image>img {
    height: 30vh;
}
.attached.ui.button {
  display: inline-block; 
  height: 100%;
}
.slide {
  display: block;
    width: 100%;
    height: auto;
}