<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Customers to choose their best</h3>
          <p>We can give you the best shopping experience that they never thought possible. Let us delight you and empower your needs...through pure data analytics.</p>
          <h3 class="ui header">We Make WorldWideImporters be modern</h3>
          <p>The website to support this segment will be constructed using the latest web technologies  and frameworks in order to make the front-end portion of the site responsive and adaptive to a wide array of platforms and mobile devices.</p>
        </div>
        <div class="six wide right floated column">
          <img src="image/about1.jpg" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a Shopping website"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            <img src="image/about2.jpg" class="ui avatar image"> Chief Fun Officer Acme
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <a href="#!shopping" class="ui huge fluid button">Check Them Out</a>